/* line 7, ../scss/ajout.scss */
.add {
  margin-top: 1.5em;
}

/* line 11, ../scss/ajout.scss */
input, select {
  height: 2em;
  margin-bottom: 1em;
}

/* line 16, ../scss/ajout.scss */
h3 {
  text-align: center;
}

/* line 20, ../scss/ajout.scss */
.nom {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 23, ../scss/ajout.scss */
.prenom {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 26, ../scss/ajout.scss */
.mail {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 29, ../scss/ajout.scss */
.departement {
  width: 37.16667%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 32, ../scss/ajout.scss */
.codepostal {
  width: 36.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 35, ../scss/ajout.scss */
.tel {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 38, ../scss/ajout.scss */
.password {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 41, ../scss/ajout.scss */
.categorie {
  width: 37.16667%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 44, ../scss/ajout.scss */
.titre {
  width: 36.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 47, ../scss/ajout.scss */
.prix {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 50, ../scss/ajout.scss */
textarea {
  height: 10em;
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 54, ../scss/ajout.scss */
.photos {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}

/* line 58, ../scss/ajout.scss */
.valid {
  margin-top: 1em;
  width: 49.66667%;
  margin-left: 25.33333%;
  display: inline-block;
  font-size: 1rem;
}

@media screen and (min-width: 40em) {
  /* line 64, ../scss/ajout.scss */
  .mail {
    width: 37.16667%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }

  /* line 67, ../scss/ajout.scss */
  .tel {
    width: 37.16667%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    float: left;
    clear: left;
  }

  /* line 72, ../scss/ajout.scss */
  .prix {
    width: 16.33333%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }

  /* line 75, ../scss/ajout.scss */
  .valid {
    margin-top: 1em;
    width: 37.16667%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    float: left;
    clear: left;
  }
}
