@charset "UTF-8";
/* line 7, ../scss/annonce.scss */
.img {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 9, ../scss/annonce.scss */
.img img {
  width: 100%;
  height: auto;
}

/* line 15, ../scss/annonce.scss */
.description {
  margin-top: 1em;
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid black;
}
/* line 20, ../scss/annonce.scss */
.description p {
  text-align: center;
}
/* line 23, ../scss/annonce.scss */
.description h2 {
  text-align: center;
}
/* line 24, ../scss/annonce.scss */
.description .prix {
  text-align: center;
  width: 33%;
  margin-left: 33.66667%;
  display: inline-block;
  font-size: 1rem;
  background-color: #4985d6;
  margin-bottom: 1em;
}
/* line 29, ../scss/annonce.scss */
.description .prix:after {
  content: "€";
}

/* line 35, ../scss/annonce.scss */
.contact {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1em;
  border: 1px solid black;
  text-align: center;
}
/* line 37, ../library/_typos.scss */
.contact .listnone li {
  list-style: none;
}

/* line 47, ../scss/annonce.scss */
.gestion {
  width: 49.66667%;
  margin-left: 25.33333%;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1em;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 1em;
}
/* line 54, ../scss/annonce.scss */
.gestion p {
  display: inline-block;
  text-decoration: underline;
}

@media screen and (min-width: 40em) {
  /* line 61, ../scss/annonce.scss */
  .img {
    width: 33%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }

  /* line 65, ../scss/annonce.scss */
  .description {
    width: 33%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }
}
