/* line 9, ../scss/categorie.scss */
.categorie select {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  height: 4em;
}

@media screen and (min-width: 40em) {
  /* line 17, ../scss/categorie.scss */
  .categorie select {
    width: 20.5%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    height: 4em;
    margin-bottom: 5em;
  }
}
