/* line 9, ../scss/gestion.scss */
.annonces .annonce2 {
  margin-top: 1em;
  border: 1px solid black;
  padding: 1em;
}
/* line 15, ../scss/gestion.scss */
.annonces .annonce1 {
  border: 1px solid black;
  padding: 1em;
}
/* line 20, ../scss/gestion.scss */
.annonces .img {
  width: 33%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
}
/* line 23, ../scss/gestion.scss */
.annonces .img img {
  width: 100%;
  height: auto;
}
/* line 27, ../scss/gestion.scss */
.annonces .description {
  width: 58%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
/* line 31, ../scss/gestion.scss */
.annonces .description h2 {
  text-align: center;
}
/* line 36, ../scss/gestion.scss */
.annonces .modif {
  margin-top: 1em;
  width: 99.66667%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid black;
}
/* line 41, ../scss/gestion.scss */
.annonces .modif p {
  text-decoration: underline;
  text-align: center;
}
/* line 45, ../scss/gestion.scss */
.annonces .modif p:nth-child(1) {
  width: 49.66667%;
  margin-left: 25.33333%;
  display: inline-block;
  font-size: 1rem;
}
/* line 48, ../scss/gestion.scss */
.annonces .modif p:nth-child(2) {
  width: 16.33333%;
  margin-left: 29.5%;
  display: inline-block;
  font-size: 1rem;
}
/* line 51, ../scss/gestion.scss */
.annonces .modif p:nth-child(3) {
  width: 16.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
