/* line 7, ../scss/nav.scss */
body {
  background-color: #9ccef8;
}
/* line 3, ../library/_typos.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-size: 2.5em;
  color: black;
  font-weight: bold;
  font-family: "Times";
}
/* line 10, ../library/_typos.scss */
body .small {
  font-size: 1.5em;
  color: gray;
}
/* line 15, ../library/_typos.scss */
body body {
  font-family: "Times New Roman";
  font-size: 1.2em;
}
/* line 20, ../library/_typos.scss */
body p {
  margin-bottom: 4%;
}
/* line 24, ../library/_typos.scss */
body mark, body del, body ins, body u, body strong, body em, body abbr {
  font-size: 1.2em;
}
/* line 28, ../library/_typos.scss */
body ul, body li {
  list-style-type: circle;
}

/* line 13, ../scss/nav.scss */
fieldset {
  border: 1px solid black;
  padding: 1em;
}

/* line 18, ../scss/nav.scss */
h1 {
  text-align: center;
  background-color: #4985d6;
  margin-bottom: 1em;
}

/* line 22, ../scss/nav.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 26, ../scss/nav.scss */
header {
  background-color: #4985d6;
}
/* line 28, ../scss/nav.scss */
header .logo {
  display: inline-block;
  width: 25%;
  text-align: center;
}
/* line 32, ../scss/nav.scss */
header .logo img {
  width: 70px;
  height: 70px;
}
/* line 38, ../scss/nav.scss */
header .nav {
  display: inline-block;
  width: 70%;
}
/* line 42, ../scss/nav.scss */
header .nav a {
  text-align: center;
  display: inline-block;
  margin-left: 1em;
  width: 20%;
}
/* line 48, ../scss/nav.scss */
header .nav a img {
  width: 50px;
  height: 50px;
}
