/* line 7, ../scss/recherche.scss */
input, select {
  height: 2em;
}

/* line 11, ../scss/recherche.scss */
.search {
  margin-top: 1em;
}
/* line 13, ../scss/recherche.scss */
.search .searchbar {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 17, ../scss/recherche.scss */
.search .categorie {
  width: 37.16667%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1em;
}
/* line 21, ../scss/recherche.scss */
.search .departement {
  width: 36.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1em;
}
/* line 25, ../scss/recherche.scss */
.search .prixmin {
  width: 37.16667%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 29, ../scss/recherche.scss */
.search .prixmax {
  width: 36.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 32, ../scss/recherche.scss */
.search .valid {
  margin-top: 1em;
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}

/* line 40, ../scss/recherche.scss */
.announces .annonce {
  margin-top: 1em;
}
/* line 42, ../scss/recherche.scss */
.announces .img {
  width: 33%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
}
/* line 45, ../scss/recherche.scss */
.announces .img img {
  width: 100%;
  height: auto;
}
/* line 49, ../scss/recherche.scss */
.announces .description {
  width: 58%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
/* line 53, ../scss/recherche.scss */
.announces .description h2 {
  text-align: center;
}

@media screen and (min-width: 40em) and (max-width: 80em) {
  /* line 61, ../scss/recherche.scss */
  .search {
    margin-top: 1em;
  }
  /* line 63, ../scss/recherche.scss */
  .search .searchbar {
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 66, ../scss/recherche.scss */
  .search .prix {
    width: 16.33333%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    float: left;
    clear: left;
  }
  /* line 71, ../scss/recherche.scss */
  .search .categorie {
    width: 16.33333%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1em;
    float: left;
    clear: left;
  }
  /* line 77, ../scss/recherche.scss */
  .search .departement {
    width: 16.33333%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1em;
    float: left;
    clear: left;
  }
  /* line 83, ../scss/recherche.scss */
  .search .prixmin {
    width: 41.33333%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 87, ../scss/recherche.scss */
  .search .prixmax {
    width: 41.33333%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    float: right;
    clear: left;
  }
  /* line 92, ../scss/recherche.scss */
  .search .valid {
    margin-top: 1em;
    float: left;
    clear: left;
  }

  /* line 100, ../scss/recherche.scss */
  .announces .annonces {
    width: 58%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
    height: 1em;
    font-size: 2em;
    padding: 0.5em;
  }
  /* line 107, ../scss/recherche.scss */
  .announces .img {
    width: 16.33333%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 109, ../scss/recherche.scss */
  .announces .img img {
    width: 100%;
    height: auto;
  }
  /* line 113, ../scss/recherche.scss */
  .announces .description {
    width: 24.66667%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
  }
  /* line 116, ../scss/recherche.scss */
  .announces .description h2 {
    text-align: center;
  }
  /* line 120, ../scss/recherche.scss */
  .announces .annonce {
    margin-top: 1em;
  }
  /* line 122, ../scss/recherche.scss */
  .announces .annonce .img {
    width: 16.33333%;
    margin-left: 33.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 124, ../scss/recherche.scss */
  .announces .annonce .img img {
    width: 100%;
    height: auto;
  }
  /* line 128, ../scss/recherche.scss */
  .announces .annonce .description {
    width: 24.66667%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
  }
  /* line 131, ../scss/recherche.scss */
  .announces .annonce .description h2 {
    text-align: center;
  }
}
@media screen and (min-width: 80em) {
  /* line 141, ../scss/recherche.scss */
  .search {
    margin-top: 1em;
  }
  /* line 143, ../scss/recherche.scss */
  .search .searchbar {
    width: 33%;
    margin-left: 17%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 146, ../scss/recherche.scss */
  .search .categorie {
    width: 16.33333%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1em;
  }
  /* line 150, ../scss/recherche.scss */
  .search .departement {
    width: 16.33333%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
    margin-top: 1em;
  }
  /* line 154, ../scss/recherche.scss */
  .search .prix {
    width: 33%;
    margin-left: 33.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 157, ../scss/recherche.scss */
  .search .prix .prixmin {
    width: 16.33333%;
    margin-left: 33.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 160, ../scss/recherche.scss */
  .search .prix .prixmax {
    width: 16.33333%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 163, ../scss/recherche.scss */
  .search .prix .valid {
    margin-top: 1em;
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }

  /* line 170, ../scss/recherche.scss */
  .announces {
    width: 83%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 172, ../scss/recherche.scss */
  .announces .annonce {
    margin-top: 2em;
  }
  /* line 174, ../scss/recherche.scss */
  .announces .img {
    width: 24.66667%;
    margin-left: 8.66667%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 177, ../scss/recherche.scss */
  .announces .img img {
    width: 100%;
    height: auto;
  }
  /* line 181, ../scss/recherche.scss */
  .announces .description {
    width: 33%;
    margin-left: 0.33333%;
    display: inline-block;
    font-size: 1rem;
  }
  /* line 184, ../scss/recherche.scss */
  .announces .description h2 {
    text-align: center;
  }
}
