@import "../library/library";

$nbcol : 12;
$tailleCol : 8%;
$color :#4985d6;

.add{
    margin-top: 1.5em;
}

input, select{
    height: 2em;
    margin-bottom: 1em;
}

h3{
    text-align: center;
}

.nom{
    @include grid($tailleCol,$nbcol,10,1);
}
.prenom{
    @include grid($tailleCol,$nbcol,10,1);
}
.mail{
    @include grid($tailleCol,$nbcol,10,1);
}
.departement{
    @include grid($tailleCol,$nbcol,4.5,1);
}
.codepostal{
    @include grid($tailleCol,$nbcol,4.4,1);
}
.tel{
    @include grid($tailleCol,$nbcol,10,1);
}
.password{
    @include grid($tailleCol,$nbcol,10,1);
}
.categorie{
    @include grid($tailleCol,$nbcol,4.5,1);
}
.titre{
    @include grid($tailleCol,$nbcol,4.4,1);
}
.prix{
    @include grid($tailleCol,$nbcol,10,1);
}
textarea{
    height: 10em;
    @include grid($tailleCol,$nbcol,10,1);
}
.photos{
    @include grid($tailleCol,$nbcol,10,1);
    text-align: center;
}
.valid{
    margin-top: 1em;
    @include grid($tailleCol,$nbcol,6,3);
}

@media screen and (min-width:40em){
    .mail{
        @include grid($tailleCol,$nbcol,4.5,1);
    }
    .tel{
        @include grid($tailleCol,$nbcol,4.5,1);
        float: left;
        clear: left;
    }
    .prix{
        @include grid($tailleCol,$nbcol,2,1);
    }
    .valid{
        margin-top: 1em;
        @include grid($tailleCol,$nbcol,4.5,1);
        float: left;
        clear: left;
    }
    .categorieTitle{
        
    }
}