@import "../library/library";

$nbcol : 12;
$tailleCol : 8%;
$color :#4985d6;

.img{
    @include grid($tailleCol,$nbcol,10,1);
    img{
        width: 100%;
        height: auto;
    }
}

.description{
    margin-top: 1em;
    @include grid($tailleCol,$nbcol,10,1);
    border: 1px solid black;
    
    p{
        text-align: center;
    }
    h2{text-align: center;}
    .prix{
        text-align: center;
        @include grid($tailleCol,$nbcol,4,4);
        background-color: $color;
        margin-bottom: 1em;
        &:after{
            content: "€";
        }
    }
}

.contact{
    @include grid($tailleCol,$nbcol,10,1);
    margin-top: 1em;
    border: 1px solid black;
    text-align: center;
    
    
    .listnone{
        @include listnone;
    }
}

.gestion{
    @include grid($tailleCol,$nbcol,6,3);
    margin-top: 1em;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1em;
    
    p{
        display: inline-block;
        text-decoration: underline;
    }
}

@media screen and (min-width:40em){
    .img{
        @include grid($tailleCol,$nbcol,4,1);
    }

    .description{
        @include grid($tailleCol,$nbcol,4,1);
    }
}