@import "../library/library";

$nbcol : 12;
$tailleCol : 8%;
$color :#4985d6;

.categorie{
    
    select{
        @include grid($tailleCol, $nbcol, 10, 1);
        height: 4em;
    }
}
@media screen and (min-width:40em){
    .categorie{

        select{
            @include grid($tailleCol, $nbcol, 2.5, 1);
            height: 4em;
            margin-bottom:5em;

        }
    }
}