@import "../library/library";

$nbcol : 12;
$tailleCol : 8%;
$color :#4985d6;

.annonces{
    
    .annonce2{
        margin-top: 1em;
    border: 1px solid black;
    padding: 1em;
    }
    
    .annonce1{
    border: 1px solid black;
    padding: 1em;
    }
    
    .img{
        @include grid($tailleCol,$nbcol,4,0);
    
        img{width: 100%;
        height: auto;}
    }
    
    .description{
        @include grid($tailleCol,$nbcol,7,0);
        vertical-align: top;
        
        h2{
            text-align: center;
        }
    }
    
    .modif{
        margin-top: 1em;
        @include grid($tailleCol,$nbcol,12,0);
        border: 1px solid black;
        
        p{
             text-decoration: underline;
            text-align: center;
            
            &:nth-child(1){
                @include grid($tailleCol,$nbcol,6,3);
            }
            &:nth-child(2){
                @include grid($tailleCol,$nbcol,2,3.5);
            }
            &:nth-child(3){
                @include grid($tailleCol,$nbcol,2,1);
            }
        }
    }
}