@import "../library/library";

$nbcol : 12;
$tailleCol : 8%;
$color :#4985d6;

body{
    background-color: #9ccef8;
    @include typos;
//    min-width: 25em;
}

fieldset{
    border: 1px solid black;
    padding: 1em;
}

h1{text-align: center;
        background-color: $color;
        margin-bottom: 1em;}

a{
    text-decoration: none;
    color: black;
}
header{
    background-color: $color;
    .logo{
        display: inline-block;
        width: 25%;
        text-align: center;        
        img{
            width: 70px;
            height: 70px;
        }
    }
    
    .nav {
        display: inline-block;
        width: 70%;
        
        a{
            text-align: center; 
            display: inline-block;
            margin-left: 1em;
            width: 20%;
            
             img{
                  width: 50px;
                  height: 50px;
            }
        }
    }
}