@import "../library/library";

$nbcol : 12;
$tailleCol : 8%;
$color :#4985d6;

input, select{
    height: 2em;
}

.search{
    margin-top: 1em;
    .searchbar{
        @include grid($tailleCol,$nbcol,10,1);
    }
    
    .categorie,{
        @include grid($tailleCol,$nbcol,4.5,1);
        margin-top: 1em;
    }
    .departement{
        @include grid($tailleCol,$nbcol,4.4,1);
        margin-top: 1em;
    }
    .prixmin{
        @include grid($tailleCol,$nbcol,4.5,1);
    }
    
    .prixmax{
        @include grid($tailleCol,$nbcol,4.4,1);
    }
    .valid{
        margin-top: 1em;
        @include grid($tailleCol,$nbcol,10,1);
    }
}

.announces{
    
    .annonce{margin-top: 1em;}
    
    .img{
        @include grid($tailleCol,$nbcol,4,0);
    
        img{width: 100%;
        height: auto;}
    }
    
    .description{
        @include grid($tailleCol,$nbcol,7,0);
        vertical-align: top;
        
        h2{
            text-align: center;
        }
    }
    
}

@media screen and (min-width:40em) and (max-width:80em){
    .search{
        margin-top: 1em;
        .searchbar{
            @include grid($tailleCol,$nbcol,10,1);
        }
        .prix{
            @include grid($tailleCol,$nbcol,2,1);
            float: left;
            clear: left;
        }
        .categorie,{
            @include grid($tailleCol,$nbcol,2,1);
            margin-top: 1em;
            float: left;
            clear: left;
        }
        .departement{
            @include grid($tailleCol,$nbcol,2,1);
            margin-top: 1em;
            float: left;
            clear: left;
        }
        .prixmin{
            @include grid($tailleCol,$nbcol,5,0);
        }

        .prixmax{
            @include grid($tailleCol,$nbcol,5,1);
            float: right;
            clear: left;
        }
        .valid{
            margin-top: 1em;
            float: left;
            clear: left;
        }
    }

    .announces{
        .annonces{
            @include grid($tailleCol,$nbcol,7,1);
            height: 1em;
            font-size: 2em;
            padding: 0.5em;
        }
        
        .img{
            @include grid($tailleCol,$nbcol,2,1);
            img{width: 100%;
            height: auto;}
        }

        .description{
            @include grid($tailleCol,$nbcol,3,0);
            vertical-align: top;
            h2{
                text-align: center;
            }
        }
        .annonce{
            margin-top: 1em;
            .img{
                @include grid($tailleCol,$nbcol,2,4);
                img{width: 100%;
                height: auto;}
        }

            .description{
                @include grid($tailleCol,$nbcol,3,0);
                vertical-align: top;
                h2{
                    text-align: center;
                }
        }
        }
    
    }
}

@media screen and (min-width:80em){
    .search{
        margin-top: 1em;
        .searchbar{
            @include grid($tailleCol,$nbcol,4,2);
        }
        .categorie,{
        @include grid($tailleCol,$nbcol,2,0);
        margin-top: 1em;
    }
    .departement{
        @include grid($tailleCol,$nbcol,2,0);
        margin-top: 1em;
    }
        .prix{
            @include grid($tailleCol,$nbcol,4,4);
            
            .prixmin{
                 @include grid($tailleCol,$nbcol,2,4);
            }
            .prixmax{
                 @include grid($tailleCol,$nbcol,2,0);
            }
            .valid{
                margin-top: 1em;
                 @include grid($tailleCol,$nbcol,10,1);
            }
        }
    }
    
    .announces{ @include grid($tailleCol,$nbcol,10,1);
    
    .annonce{margin-top: 2em;}
        
    .img{
        @include grid($tailleCol,$nbcol,3,1);
    
        img{width: 100%;
        height: auto;}
    }
    
    .description{
        @include grid($tailleCol,$nbcol,4,0);
        
        h2{
            text-align: center;
        }
    }
    
}  
}