@mixin alert($color,$string){
        display: block;
        width: 100%;
        content: $string;
        color: $color;
        background-color: lighten($color,30%);
        font-size: 1.5em;
        padding: 0.5em;
}
